<h1> {{ wbTitle }}</h1>
<div id="testWhiteBoard">
  <!--div *ngFor="let sticker of stickers">
    <ellzap-sticker [topValue]="sticker.topValue" [leftValue]="sticker.leftValue" [stickerText]="sticker.stickerText">Here comes the note</ellzap-sticker>
  </div-->
    <div *ngFor="let sticker of stickers">
      <ellzap-sticker
        [topValue]="sticker.topValue"
        [leftValue]="sticker.leftValue"
        [stickerText]="sticker.stickerText">
        Here comes the note
      </ellzap-sticker>
    </div>
</div>
